@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    background-color:white;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #1fa9b3 16.62%, #8E5D52 85.61%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* menu hambuguer */

.checkbox-container {
    display:flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top:0;
    display: flex;
    justify-content: center;
    cursor:pointer;
    z-index:9999;
    transition: 400ms ease-in-out 0s;
}

.checkbox .trace {
    width: 50px;
    height: 2px;
    background-color: black;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1) {
    top:26px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
    top:40px;
    transform:rotate(0);
}

.checkbox .trace:nth-child(3) {
    top:60px;
    transform: rotate(0);
}

#toggle {
    display: none;
}

/* menu */

.menu {
    position: absolute;
    top:28px;
    right:30px;
    background-color: transparent;
    height: 4px;
    width: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px white;
    z-index:-1;
    transition: 400ms ease-in-out 0s; 
}

.menu-items {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}
.menu-items ul {
    list-style-type: none;
}

.menu-items ul li a{
    margin: 10px 0;
    color:black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size:40px;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-items ul li a:hover {
    color:red;
}

/* animação do menu */

#toggle:checked + .checkbox .trace:nth-child(1) {
    transform:rotate(45deg);
    top:47px;
}

#toggle:checked + .checkbox .trace:nth-child(2) {
    transform:translate(-100px);
    width:30px;
    visibility: hidden;
    opacity:0;
}

#toggle:checked + .checkbox .trace:nth-child(3) {
    transform:rotate(-45deg);
    top: 48px;
}

#toggle:checked + .checkbox {
    background-color:#8E5D52;
}


#toggle:checked ~ .menu {
    box-shadow: 0px 0px 0px 100vmax #8E5D52;
    z-index: 1;
}

#toggle:checked ~ .menu-items {
    visibility: visible;
    opacity: 1;
}


.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid whitesmoke;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:24px;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.conteudo-principal-escrito-titulo {
    font-family:Arial;
    font-weight: 600;
    font-size: 30px;
    color:white;
    margin-left: 130px;
}

.conteudo-principal-escrito-subtitulo {
    font-family:Arial;
    font-weight: 200;
    font-size: 20px;
    color:white;
    text-align: justify;
    margin-left: 130px;
}

.conteudo-principal-escrito-botao {
    background-color: #8E5D52;
    color:whitesmoke;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 800;
    color:black;
    margin-left: 130px;
}

.conteudo-principal-escrito-botao a{
    color:aliceblue;
}
.conteudo-principal-escrito-botao:hover {
    background-color:#035E65;
}


.conteudo-principal-imagem {
    height: 600px;
}

.conteudo-secundario {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:24px;
    margin-top:48px;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid white;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color:aliceblue;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
    text-align: center;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid white;
}

.rodape-imagem {
    height: 48px;
    display: block;
    margin: 0 auto;
}
a:hover {
    color: #b13030 !important;
}
.contatos {
    padding: 4px;
    float:none;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 50px;
    word-spacing: 0;
}
.contatos-textos {
    margin-bottom: 410px;
    font-weight: 100;
    font-size: 25px;
    text-align:center;
}

.contatos-textos a {
    color:whitesmoke;
}

.contatos-todos {
    text-align: center;
    color: whitesmoke;
    font-size:30px;
    margin-bottom: 40px;
}

.rodape {
    background-color: white;
}
.rodape-texto {
    text-align: center;
    color: black;
}
.rodape-texto a {
    text-align: center;
    color:black;
}

.rodape-texto:hover a {
    color:red;
}

/* sobre mim */

.sobre-secundario {
    font-size:20px;
    text-align: justify;
    margin: 0;
    margin-left: 100px;
    margin-right: 100px;
    color:whitesmoke;
}
.sobre-secundario-titulo {
    text-align: center;
    margin-bottom: 30px;
}